@charset "UTF-8";

/*@include font("SFProDisplayBlack", "SFProDisplay-Black", "900", "normal");
@include font("SFProDisplayBold", "SFProDisplay-Bold", "bold", "normal");
@include font("SFProDisplayHeavy", "SFProDisplay-Heavy", "900", "normal");
@include font("SFProDisplayLight", "SFProDisplay-Light", "200", "normal");
@include font("SFProDisplayMedium", "SFProDisplay-Medium", "500", "normal");
@include font("SFProDisplayRegular", "SFProDisplay-Regular", "normal", "normal");
@include font("SFProDisplaySemibold", "SFProDisplay-Semibold", "600", "normal");
@include font("SFProDisplayThin", "SFProDisplay-Thin", "100", "normal");
@include font("SFProDisplayThinItalic", "SFProDisplay-ThinItalic", "100", "italic");
@include font("SFProDisplayUltralight", "SFProDisplay-Ultralight", "200", "normal");
@include font("UbuntuBold", "Ubuntu-Bold", "bold", "normal");
@include font("UbuntuBoldItalic", "Ubuntu-BoldItalic", "bold", "italic");
@include font("UbuntuItalic", "Ubuntu-Italic", "normal", "italic");
@include font("UbuntuLight", "Ubuntu-Light", "300", "normal");
@include font("UbuntuLightItalic", "Ubuntu-LightItalic", "300", "italic");
@include font("UbuntuMedium", "Ubuntu-Medium", "500", "normal");
@include font("UbuntuMediumItalic", "Ubuntu-MediumItalic", "500", "italic");
@include font("UbuntuRegular", "Ubuntu-Regular", "normal", "normal"); */



html {
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}


main {
  display: block;
}

button,
h1,
h2,
h3,
h4,
li,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
}

a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  color: #000;
}

* {
  color: black;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.container {
  max-width: 1196px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

.navigation {
  text-align: left;
}

.navigation a {
  color: black;
}

.navigation-title {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
}

.navigation-name {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
}

.navigation .active {
  color: #E89A04;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #E89A04;
  text-align: center;
  margin: 0px 5px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.subtitle::after,
.subtitle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-color: #E89A04;
  border-radius: 0.5px;
  width: 24px;
  height: 2px;
  position: relative;
}

.subtitle::before {
  right: 7px;
}

.subtitle::after {
  left: 7px;
}

.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #414042;
}

.info {
  text-align: left;
  margin: 45px 0px 53px;
}

.text {
  font-size: 20px;
  line-height: 25px;
  color: #767279;
  max-width: 561px;
  margin: 4px auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 26.79px;
  height: 42.87px;
  border: none;
  background-color: initial;
}

.slick-arrow::before,
.slick-arrow::after {
  content: '';
  background-color: #C4C4C4;
  width: 30px;
  height: 2px;
  position: absolute;
  border-radius: 4px;
}

.slick-arrow:hover::after,
.slick-arrow:hover:before {
  background-color: lawngreen;
}

.slick-arrow.slick-prev {
  left: 50px;
}

.slick-arrow.slick-prev::after {
  top: 11px;
  right: -1px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.slick-arrow.slick-prev::before {
  top: 30px;
  left: -2px;
  -webkit-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
          transform: rotate(37deg);
}

.slick-arrow.slick-next {
  right: 50px;
}

.slick-arrow.slick-next::after {
  top: 11px;
  right: -1px;
  -webkit-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
          transform: rotate(37deg);
}

.slick-arrow.slick-next::before {
  top: 30px;
  left: -2px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 38.5px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  background-color: #D7D7D7;
  margin-right: 17.5px;
}

.slick-dots .slick-active button {
  background-color: #E89A04;
}

.arrowTop {
  width: 50px;
  height: 50px;
  background-color: green;
  position: fixed;
  bottom: 25px;
  right: 35px;
  z-index: 99;
  border-radius: 50%;
  border: 1px solid green;
  cursor: pointer;
  display: none;
   animation-name: example;
     animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
    0% {bottom:25px;}
    50% {bottom:35px;}
  100% {bottom:25px;}
}

.arrowTop::after {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  /* верхняя рамка */
  border-left: 3px solid #fff;
  /* левая рамка */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  /* поворот */
  position: absolute;
  /* положение относительно круга */
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* выравнивание по центру */
   animation-name: arrowColor;
     animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrowColor{
  to { border-color:#000000;}

  from {  border-color:#fff;}
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 136px;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.header__logo {
  margin-top: 17px;
}

.header__info {
  margin: 43px 37px 36px 159px;
  height: 58px;
  width: 623px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info-mobile {
  position: relative;
  display: none;
}

.header__info-mobile picture img {
  margin-bottom: 10px;
}

.header__info-mobile li a {
  position: absolute;
  top: 45px;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
          box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
  border-radius: 4px;
  padding: 15px;
  width: 180px;
  z-index: 18;
}

.header__info-mobile li span {
  position: absolute;
  top: 45px;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
          box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
  border-radius: 4px;
  padding: 15px;
  width: 180px;
  z-index: 18;
}

.header__info-mobile a {
  color: black;
}

.header__info-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-bloc img {
  margin-right: 7px;
}

.header__info-bloc li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-bloc a {
  color: black;
}

.header__info .tel {
  position: absolute;
  top: 45px;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
          box-shadow: 0px 1px 10px rgba(68, 67, 70, 0.2);
  border-radius: 4px;
  padding: 15px;
  width: 150px;
  z-index: 18;
}

.header__button {
  background-color: #87ad3b;
  height: 50px;
  width: 165px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button button {
  border: none;
  background-color: initial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.mobile-img {
  cursor: pointer;
}

.menu {
  height: 49px;
  background: #414042;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  position: relative;
  z-index: 15;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.menu__list {
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-one {
  margin-right: 124.6px;
  color: white;
}

.menu__list-one > li {
  display: inline-block;
  color: white;
  margin: 0px 23.5px;
  position: relative;
  padding: 20px 0px;
}

.menu__list-one > li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 20px;
  background: #e89a04;
  display: none;
}

.menu__list-one > li:hover::before {
  display: block;
}

.menu__list-one > li:last-child {
  margin-right: 0;
}

.menu__list-one > li:first-child {
  margin-left: 0;
}

.menu__list-two {
  color: white;
}

.menu__list-two::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 5px;
  right: -12.6px;
  bottom: 24px;
  background-image: url("../images/Header/Select.png");
}

.menu__list-two::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 57px;
  bottom: 27px;
  background: #e89a04;
  display: none;
}

.menu__list-two ul {
  display: none;
  position: absolute;
  top: 5px;
  font-weight: 400;
  background: #414042;
  width: 101px;
  height: 124px;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 4px;
  margin-top: 60px;
}

.menu__list-two ul li {
  margin: 25px 0px;
  display: block;
  position: relative;
}

.menu__list-two ul li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 57px;
  bottom: -1px;
  background: #e89a04;
  display: none;
}

.menu__list-two ul li:hover::before {
  display: block;
}

.menu__autorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.menu__autorization img {
  padding-top: 5px;
}

.menu__autorization button {
  border: none;
  background-color: initial;
  color: white;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.menu__launge {
  position: relative;
  width: 54px;
  height: 24px;
  background: #e89a04;
  border-radius: 4px;
  padding-left: 10px;
  cursor: pointer;
}

.menu__launge::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  width: 7.79px;
  height: 5px;
  background-image: url("../images/Header/Select.png");
}

.menu__launge a {
  line-height: 18px;
  font-weight: bold;
  font-size: 14px;
}

.menu__mobile {
  display: none;
  background-color: #414042;
  width: 230px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.menu__mobile-burger {
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 40px;
  height: 27px;
}

.menu__mobile-burger span {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 12px;
  width: 39px;
  height: 2px;
  border-radius: 0.5px;
  background: #e7e7e7;
}

.menu__mobile-burger::after {
  content: "";
  width: 39px;
  height: 2px;
  background: #e7e7e7;
  border-radius: 0.5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.menu__mobile-burger::before {
  content: "";
  width: 39px;
  height: 2px;
  background: #e7e7e7;
  border-radius: 0.5px;
  position: absolute;
  top: 23px;
  right: 0px;
}

.menu__mobile-one {
  padding-top: 35px;
  display: none;
}

.menu__mobile-one li {
  padding-bottom: 35px;
}

.menu__mobile-one ul li {
  padding: 22px 0px 0px 20px;
}

.menu__mobile-two {
  position: relative;
}

.menu__mobile-two::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 70px;
  background-image: url("../images/Mobile/Select.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 7.79px;
  height: 5px;
}

.menu__mobile-two.active.menu__mobile-two::before {
  background-image: url("../images/Mobile/Selecttop.svg");
}

.submenu {
  z-index: 5;
  width: 180px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-weight: normal;
}

.submenu-link {
  font-size: 12px;
  color: white;
  cursor: pointer;
}

.menu__mobile-one.active {
  display: block;
  -webkit-transition: 3s all ease-out;
  -o-transition: 3s all ease-out;
  transition: 3s all ease-out;
}

.menu__mobile-burger.active {
  background: none;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 27px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}

.menu__mobile-burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 13px;
  width: 23px;
}

.menu__mobile-burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 13px;
  width: 23px;
}

.menu__mobile-burger.active span {
  display: none;
}

.slider {
  max-height: 696px;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.slider__inner-img {
  width: 100%;
  max-height: 696px;
}

.slider__inner-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__inner-box {
  position: absolute;
  left: 130px;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__inner-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0.01em;
  color: #414042;
  margin-top: 182px;
}

.slider__inner-subtitle {
  font-size: 20px;
  line-height: 25px;
  margin-top: 18px;
  color: #767279;
}

.slider__inner-button {
  margin-top: 50px;
}

.slider__inner-button button {
  width: 226px;
  border-radius: 8px;
  height: 56.8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #87AD3B;
}

.slider__inner-button button:hover {
  background: #ACD35F;
  -webkit-box-shadow: 2px 2px 20px 2px #acd35f;
          box-shadow: 2px 2px 20px 2px #acd35f;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 26.79px;
  height: 42.87px;
  border: none;
  background-color: initial;
}

.slider .slick-arrow::before,
.slider .slick-arrow::after {
  content: '';
  background-color: #C4C4C4;
  width: 30px;
  height: 2px;
  position: absolute;
  border-radius: 4px;
}

.slider .slick-arrow:hover::after,
.slider .slick-arrow:hover:before {
  background-color: lawngreen;
}

.slider .slick-arrow.slick-prev {
  left: 50px;
}

.slider .slick-arrow.slick-prev::after {
  top: 11px;
  right: -1px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.slider .slick-arrow.slick-prev::before {
  top: 30px;
  left: -2px;
  -webkit-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
          transform: rotate(37deg);
}

.slider .slick-arrow.slick-next {
  right: 50px;
}

.slider .slick-arrow.slick-next::after {
  top: 11px;
  right: -1px;
  -webkit-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
          transform: rotate(37deg);
}

.slider .slick-arrow.slick-next::before {
  top: 30px;
  left: -2px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.slider .slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 38.5px;
}

.slider .slick-dots button {
  border: none;
  font-size: 0;
  width: 17.5px;
  height: 17.5px;
  border-radius: 50%;
  background-color: #D7D7D7;
  margin-right: 17.5px;
}

.slider .slick-dots .slick-active button {
  background-color: #E89A04;
}

.animate__fadeInUp {
  -webkit-animation: fadeInUp 1s  infinite;
          animation: fadeInUp 1s  infinite;
}

.histori {
  margin-top: 93px;
}

.histori__top {
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
}

.histori__top ul {
  margin-top: 40px;
}

.histori__top li {
  margin: 50px 0px 0px 30px;
  list-style-type: disc;
  color: #E89A04;
}

.histori__top p {
  margin-top: 45px;
}

.histori__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 152px 0px 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.histori__bottom a img {
  margin-bottom: 43px;
}

.column-1,
.column-2 {
  width: 351.86px;
}

.fancybox-button svg path {
  color: white;
  background-color: white;
}

.action {
  background: #F7FAF2;
  padding: 104px 0px 100px 0px;
  position: relative;
}

.action__wrapper {
  text-align: center;
}

.action__wrapper-top {
  padding-bottom: 79px;
}

.action__wrapper-bootom {
  margin: 0 auto;
  padding-bottom: 286px;
}

.action__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 365px;
  margin-bottom: 109px;
}

.action__slider {
  margin: 0 auto;
  max-width: 1140px;
}

.action__slider-inner {
  position: relative;
}

.action__slider-block {
  position: relative;
  margin: 0px 15px;
  border-radius: 8px;
}

.action__slider-block.slick-slide {
  width: 360px;
}

.action__slider-block img {
  height: 394px;
}

.action__slider-block:focus {
  outline: none;
}

.action__slider-block button {
  position: absolute;
  font-weight: bold;
  bottom: 28px;
  left: 34px;
  font-size: 18px;
  line-height: 23px;
  color: #8DB145;
  border: 2px solid #8DB145;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 30px;
}

.action__slider-block button:hover {
  background-color: #8DB145;
  color: white;
  border: 2px solid white;
}

.action__left img {
  width: 360px;
  height: 365px;
  -webkit-box-shadow: 0px 10px 20px rgba(137, 151, 107, 0.15);
          box-shadow: 0px 10px 20px rgba(137, 151, 107, 0.15);
}

.action__right {
  max-width: 700px;
  margin-left: 30px;
  font-size: 26px;
  line-height: 42px;
  color: #414042;
  text-align: left;
  position: relative;
}

.action__right-title {
  font-weight: bold;
}

.action__right-deys {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 22px;
  color: #9B9C9F;
}

.action .slick-arrow.slick-prev {
  left: -63px;
  position: absolute;
}

.action .slick-arrow.slick-next {
  right: -63px;
  position: absolute;
}

.action .slick-dots {
  bottom: -110px;
}

.vacancy {
  margin: 93px 0px;
}

.vacancy__wrapper {
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
}

.vacancy__title b {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #414042;
  margin-bottom: 22px;
  display: block;
}

.vacancy__title p a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: bold;
  color: #e89a04;
}

.vacancy__inner {
  margin-top: 86px;
  text-align: left;
}

.vacancy__box {
  margin-bottom: 60px;
  position: relative;
}

.vacancy__box-title {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 12px;
  position: relative;
}

.vacancy__box-title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #414042;
  bottom: 4px;
  left: 0px;
  z-index: -1;
}

.vacancy__box-text {
  font-size: 28px;
  line-height: 35px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  width: 1060px;
}

.vacancy__box-arrow {
  background-image: url("../images/arrowright.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  right: 33%;
}

.about {
  margin: 90px 0px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box {
  max-width: 250px;
  width: 100%;
  height: 250px;
  border: 3px solid #8db145;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  margin: 0px 10px;
}

.about__box:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(137, 151, 107, 0.15);
          box-shadow: 0px 10px 20px rgba(137, 151, 107, 0.15);
  background-color: #8db145;
}

.about__box:hover a {
  color: white;
}

.about__box a {
  position: absolute;
  color: #8db145;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services .text {
  max-width: 550px;
}

.services__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 105px 0px 100px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1109px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 97px auto 0px;
}

.services__inner a {
  width: 230px;
  height: 240px;
  margin-right: 63px;
  margin-bottom: 65px;
  z-index: 2;
  position: relative;
}

.services__inner a:nth-of-type(4n) {
  margin-right: 0px;
}

.services__inner a:hover,
.services__inner a:hover .services__box-title,
.services__inner a:hover svg path,
.services__inner a:hover img svg {
  background-color: #87ad3b;
  color: white;
  fill: white;
  border-radius: 8px;
}



.services__info {
  margin: 45px 0px 53px;
  text-align: left;
}

.services__box {
  margin-right: 63px;
  margin-bottom: 65px;
  cursor: pointer;
  width: 230px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5e5c60;
  font-weight: bold;
  font-size: 20px;
  border: 4px solid #87ad3b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.15);
          box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.15);
  border-radius: 8px;
  text-align: center;
}

.services__box-img {
  width: 105px;
  height: auto;
  z-index: -1;
  position: relative;
}

.services__box-title {
  color: #5e5c60;
  height: 75px;
}

.journey path {
  fill: white;
}

.price .text {
  max-width: 550px;
}

.price__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 105px 0px 100px;
}

.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1109px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 96px auto 0px;
  position: relative;
  z-index: 2;
}

.price__inner a {
  width: 230px;
  height: 240px;
  margin-right: 63px;
  margin-bottom: 65px;
}

.price__inner a:nth-of-type(4n) {
  margin-right: 0px;
}

.price__box {
  margin-right: 63px;
  margin-bottom: 65px;
  cursor: pointer;
  width: 230px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5e5c60;
  font-weight: bold;
  font-size: 20px;
  border: 4px solid #87ad3b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.15);
          box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.15);
  border-radius: 8px;
}

.price__box:nth-of-type(4n) {
  margin-right: 0;
}

.price__box:hover,
.price__box:hover .price__box-title,
.price__box:hover svg path
{
  background-color: #87ad3b;
  color: white;
  fill: white;
}
.journey g path {
  fill: white;


}

.price__box-title {
  color: #5e5c60;
  height: 75px;
}

.price__list-top {
  background: #87AD3B;
  height: 114px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}

.price__list-bottom {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #414042;
  text-align: left;
}

.price__list-bottom ul li {
  width: 100%;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFFF0;
}

.price__list-bottom ul li:nth-child(even) {
  background: #F1FFD5;
}

.price__list-code {
  margin-left: 25px;
  color: white;
}

.price__list-name {
  margin: 0px 270px;
  color: white;
}

.price__list-price {
  margin-right: 32px;
  color: white;
}

.price__list-dey {
  color: white;
}

.price__bottom-code {
  width: 125px;
  margin-left: 25px;
}

.price__bottom-name {
  width: 730px;
}

.price__bottom-dey {
  margin-right: 21px;
}

.price__bottom-price {
  width: 170px;
}

.journey path {
  fill: white;
}

.cardio-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  background-color: white;
  cursor: alias;
}

.price__box:focus {
  outline: none;
}

.price__box:focus .cardio-wrapper {
  display: block;
}

form {
  position: relative;
  text-align: left;
  margin-bottom: 60px;
}

.place_for_search {
  width: 952px;
  height: 63px;
  background: #FDFFF8;
  border: 2px solid #87AD3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.1);
          box-shadow: 0px 10px 20px rgba(135, 173, 59, 0.1);
  border-radius: 8px;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #B2ABB8;
  padding-left: 80px;
}

.place_for_search:focus {
  outline: none;
}

.button_for_search {
  position: absolute;
  width: 73px;
  background-color: initial;
  left: 0;
  top: 0;
  border: none;
  background-image: url("../images/Price/Icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  line-height: 63px;
  cursor: pointer;
}

.button_for_search:focus {
  outline: none;
}

.advantages {
  text-align: center;
  background-image: url("../images/Advantages/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__wrapper {
  padding: 102px 0px 60px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(135, 173, 59, 0.95)), to(rgba(135, 173, 59, 0.95)));
  background: -o-linear-gradient(bottom, rgba(135, 173, 59, 0.95), rgba(135, 173, 59, 0.95));
  background: linear-gradient(0deg, rgba(135, 173, 59, 0.95), rgba(135, 173, 59, 0.95));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
}

.advantages_top .subtitle,
.advantages .title,
.advantages .text {
  color: white;
}

.advantages_top .subtitle::before,
.advantages ::after {
  background-color: white;
}

.advantages__bottom {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 540px;
  margin-bottom: 96px;
}

.advantages__box-text {
  margin-left: 40px;
  color: white;
  font-size: 32px;
  line-height: 40px;
  text-align: initial;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
}

.advantages__box-img object {
  width: 140px;
  height: 140px;
}

.doctors {
  text-align: center;
  padding: 81px 0px 156px;
}

.doctors .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.doctors .text {
  max-width: 673px;
}

.doctors__bottom {
  margin: 96px 0px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doctors .bottom {
  margin-bottom: 200px;
}

.doctors__box {
  width: 360px;
  height: 572px;
  text-align: initial;
  margin-right: 27px;
  position: relative;
}

.doctors__box:last-child {
  margin-right: 0;
}

.doctors__box-img img {
  border-radius: 8px;
}

.doctors__box-name {
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  padding: 31px 0px 8px;
  color: #414042;
}

.doctors__box-profession {
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  color: #87ad3b;
  padding-bottom: 9px;
}

.doctors__box-text {
  font-size: 18px;
  line-height: 23px;
  color: #414042;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.doctors__box-button {
  text-align: center;
}

.doctors__box-button button {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #87ad3b;
  padding: 15px 30px;
  -webkit-box-shadow: 0px 0px 8px 0px #acd35f;
          box-shadow: 0px 0px 8px 0px #acd35f;
  cursor: pointer;
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.doctors__button button {
  border: none;
}

.doctors__button a {
  border: 2px solid #87ad3b;
  padding: 15px 30px;
  background: #87ad3b;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.doctors__button a:hover {
  background-color: white;
  border: 2px solid #87ad3b;
  color: #87ad3b;
  -webkit-box-shadow: 2px 2px 20px 2px #acd35f;
          box-shadow: 2px 2px 20px 2px #acd35f;
}

.form__page {
  text-align: center;
  background-image: url("../images/Form/Form.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1291px;
  padding: 113px 0 160px;
}

.form__box-inner {
  width: 750px;
  height: 1018px;
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 auto;
}

.form__box-inner:hover {
  -webkit-box-shadow: 0px 12px 35px rgba(137, 151, 107, 0.15);
          box-shadow: 0px 12px 35px rgba(137, 151, 107, 0.15);
}

.form__box-inner .title {
  padding-top: 88px;
}

.form__box-forms {
  margin-left: 111px;
  text-align: left;
  margin-top: 12px;
}

.form__box-forms input,
.form__box-forms textarea {
  background: #FDFFF8;
  border: 2px solid #87AD3B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 0px 20px 23px;
  font-size: 20px;
  line-height: 25px;
  color: #B2ABB8;
  outline: none;
  width: 528px;
  resize: none;
}

.form__box-forms textarea {
  height: 174px;
}

.form__box-name {
  font-family: Source Sans Pro;
  font-size: 24px;
  line-height: 30px;
  color: #625C66;
  margin-bottom: 18px;
  margin-top: 40px;
}

.form__box-button {
  margin-left: 122px;
  margin-top: 102px;
}

.form__box-button button {
  background-color: #87AD3B;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.form__box-button button:hover {
  -webkit-box-shadow: 1px 1px 10px 1px #acd35f;
          box-shadow: 1px 1px 10px 1px #acd35f;
}

.video {
  text-align: center;
  margin: 98px 0px 160px;
}

.video__bottom {
  margin-top: 98px;
}

footer {
  background: #414042;
  color: #fff;
}

footer .footer__wrapper {
  padding: 90px 0px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer__inner {
  padding-bottom: 153px;
}

footer .footer__inner-list {
  text-align: left;
  margin-right: 95px;
}

footer .footer__inner-list img {
  margin-bottom: 29px;
}

footer .footer__inner-list a {
  margin-left: 30px;
  display: block;
  font-size: 24px;
  line-height: 40px;
}

footer .footer__inner-contacts {
  margin-right: 112px;
  margin-top: 20px;
}

footer .contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

footer .contacts__box-img {
  margin-right: 7px;
}

footer .contacts__box-link {
  color: white;
}

footer .contacts__box a {
  display: block;
  line-height: 20px;
  margin-right: 24px;
}

footer .contacts__box:last-child {
  margin-top: 45px;
  margin-bottom: 0;
}

.contacts {
  margin: 93px 0px 160px 0px;
}

.contacts a {
  color: #414042;
}

.contacts__inner {
  margin-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__left {
  font-size: 28px;
  line-height: 35px;
  width: 390px;
}

.contacts__left-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__left-info img {
  margin-right: 32px;
}

.contacts__left-info span {
  margin-left: 72px;
}

.contacts__left-info:nth-child(2) {
  margin: 45px 0px;
}

.contacts__right {
  position: relative;
  top: -80px;
  left: 50px;
}

@media (max-width: 1120px) {
  .header__info {
    margin-left: 20px;
  }
}

@media (max-width: 1010px) {
  .action__slider {
    max-width: 1000px;
  }
}

@media (max-width: 980px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__info-mobile:nth-child(2) {
    width: 34px;
  }

  .header__info {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__info .mobile-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__info .mobile-2-top {
    margin-right: 10px;
  }

  .header__info .mobile-2-top span {
    top: 45px;
    right: 0px;
    left: 0px;
  }

  .header__info .mobile-2-bottom ul {
    left: 0px;
  }

  .header__info-bloc {
    display: none;
  }

  .header__info-mobile {
    display: block;
  }

  .header__info-mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__info-mobile ul li {
    margin-right: 10px;
  }

  .header__info-mobile ul li:nth-child(1) a {
    left: 0px;
  }

  .header__info-mobile ul li:nth-child(2) a {
    left: 45px;
  }

  .header__info-bloc:nth-child(2) li {
    display: none;
  }

  .menu__list-one {
    margin-right: 25px;
  }

  .slider__inner-title {
    margin-top: 70px;
    font-size: 45px;
  }

  .slider .slick-dots li button {
    width: 12.5px;
    height: 12.5px;
    margin-right: 14px;
  }

  .price__wrapper {
    padding: 30px 0 30px;
  }

  .price__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 45px 0px;
  }

  .price__inner a {
    margin-right: 40px;
    margin-bottom: 45px;
  }

  .price__inner a:nth-of-type(4n) {
    margin-right: 40px;
  }

  .price__inner a:nth-of-type(3n) {
    margin-right: 0px;
  }

  .title {
    font-size: 35px;
  }

  .container {
    padding: 0 45px;
  }
}

@media (max-width: 880px) {
  .menu__list {
    display: none;
  }

  .menu__mobile {
    display: block;
  }
}

@media (max-width: 740px) {
  .menu__mobile {
    width: 180px;
  }
}

@media (max-width: 670px) {
  .header__info-mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100px;
  }
}

@media (max-width: 610px) {
  .header__info-mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__mobile {
    width: 100px;
  }

  .menu__mobile-burger {
    margin-right: 80px;
  }

  .menu__mobile-burger.active {
    margin-right: 0;
  }
}

@media (max-width: 570px) {
  .header__button {
    height: auto;
  }

  .header__button button {
    margin: 15px 15px;
  }

  .menu {
    padding: 0px 10px;
    height: 35px;
  }

  .menu__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__mobile {
    width: 170px;
    left: -10px;
  }

  .menu__mobile-burger {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-right: 20px;
    top: 5px;
  }

  .menu__mobile-burger::after {
    top: 5.5px;
  }

  .menu__mobile-burger::before {
    top: 19px;
  }

  .menu__mobile-burger.active {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .slider__inner-title {
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }

  .slider__inner-subtitle {
    font-size: 12px;
  }

  .slider__inner-button {
    margin-top: 20px;
  }

  .slider__inner-button button {
    width: 159px;
    height: 36.8px;
  }

  .slider .slick-arrow.slick-next {
    right: 10px;
  }

  .slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .slider .slick-dots {
    bottom: 10px;
  }

  .slider .slick-dots li button {
    width: 7.5px;
    height: 7.5px;
    margin-right: 7.5px;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
  }

  .text {
    font-size: 18px;
  }

  .container {
    padding: 0 15px;
  }

  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    max-height: 200px;
    padding-bottom: 30px;
  }

  .header__logo {
    margin-top: 0px;
  }

  .header__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    right: 0px;
    top: 48px;
  }

  .header__info-mobile li span {
    left: 0px;
  }

  .header__info-mobile ul {
    width: auto;
    z-index: 10;
  }

  .header__info-mobile ul li:nth-child(2) a {
    left: 0;
  }

  .header__info .tel {
    left: 0px;
  }

  .header__button {
    width: 215px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 30px;
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .menu {
    height: 40px;
  }

  .menu__mobile-one {
    padding-top: 15px;
  }

  .menu__mobile-one li {
    padding-bottom: 20px;
  }

  .menu__mobile-one li a {
    font-size: 14px;
  }

  .menu__mobile-burger.active {
    z-index: 5;
  }

  .slider__inner-box {
    left: 90px;
  }

  .services__wrapper {
    padding: 20px 0px;
  }

  .services__inner {
    margin: 25px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__inner a {
    margin-right: 20px;
    margin-bottom: 21px;
    width: 170px;
    height: 170px;
  }

  .services__inner a:nth-child(4) {
    margin-right: 20px;
  }

  .services__inner a:nth-of-type(4n) {
    margin-right: 20px;
  }

  .services__box {
    margin-right: 0px;
    margin-bottom: 21px;
    font-size: 16px;
    width: 170px;
    height: 170px;
  }

  .services__box-img {
    width: 75px;
    height: 75px;
    padding-top: 3px;
  }

  .services__box-img object {
    width: 75px;
    height: 75px;
  }

  .services__box-title {
    padding-top: 20px;
  }

  .action__slider {
    width: 200px;
  }

  .doctors__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__page {
    display: none;
  }

  .video__bottom iframe {
    width: 420px;
    height: auto;
  }

  footer {
    display: none;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0px 20px;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }

  .header__logo-img {
    width: 80px;
    height: 50px;
  }

  .header__button {
    width: 100px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header__button button {
    margin: 10px 10px;
    font-size: 11px;
  }

  .header__info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0px;
  }

  .header__info-mobile ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }

  .header__info-mobile ul li:nth-child(1) a {
    left: 10px;
  }

  .header__info-mobile ul li:nth-child(2) a {
    left: 10px;
  }

  .header__info-mobile li span {
    left: 10px;
  }

  .header__info picture img {
    margin: 0;
    height: 29px;
    width: 29px;
  }

  .header__info .tel {
    left: 10px;
  }

  .menu__wrapper {
    margin-right: 20px;
  }

  .menu__autorization button {
    display: none;
  }

  .menu__mobile {
    width: 140px;
    z-index: 0;
  }

  .menu__mobile-burger {
    margin-right: 45px;
    z-index: 2;
  }

  .menu__mobile-one {
    padding-top: 10px;
  }

  .menu__mobile-one ul li {
    padding: 10px;
  }

  .menu__mobile-one li {
    padding-bottom: 10px;
  }

  .menu__mobile-one a {
    font-size: 12px;
  }

  .menu__mobile-two::before {
    left: 55px;
  }

  .menu .submenu {
    left: -5px;
    width: 70px;
  }

  .slider {
    height: 220px;
  }

  .slider__wrapper {
    height: 100%;
  }

  .slider__inner-img {
    height: 220px;
  }

  .slider__inner-button button {
    width: 100px;
    font-size: 10px;
    height: 26px;
  }

  .slick-list {
    height: 100%;
  }

  .slider__inner-box {
    left: 36px;
    top: 0px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 250px;
  }

  .slider__inner-title {
    font-size: 16px;
  }

  .slider__inner-subtitle {
    margin-top: 2px;
    line-height: 16px;
  }

  .slider .slick-arrow::after,
  .slider .slick-arrow::before {
    width: 15px;
  }

  .slider .slick-arrow.slick-prev {
    width: 16px;
  }

  .slider .slick-arrow.slick-prev::after {
    right: 3px;
    top: 22px;
  }

  .slider .slick-arrow.slick-next {
    width: 16px;
  }

  .slider .slick-arrow.slick-next::after {
    top: 22px;
    right: 3px;
  }

  .services__wrapper {
    padding: 15px 0px;
  }

  .subtitle {
    font-size: 12px;
  }

  .title {
    font-size: 16px;
    line-height: 27px;
  }

  .text {
    font-size: 12px;
    line-height: 19px;
  }

  .services__inner {
    margin: 15px auto 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .services__inner a {
    width: 115px;
    height: 110px;
    margin: 10px 5px 5px 0px;
  }

  .services__box {
    width: 115px;
    height: 110px;
    margin: auto;
    word-wrap: break-word;
  }

  .services__box-title {
    font-size: 13px;
    height: auto;
    margin-bottom: 10px;
    -webkit-hyphens: auto;
            hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    width: 100px;
  }

  .services__box-img {
    width: 60px;
    height: 60px;
    padding-top: 3px;
  }

  .services__box-img object {
    width: 60px;
    height: 60px;
  }

  .services__inner a:hover img {
    padding-top: 3px;
  }

  .action {
    padding: 20px 0px 20px;
  }

  .action__wrapper {
    margin: 0px 10px;
  }

  .action__wrapper-top {
    padding-bottom: 15px;
  }

  .action__wrapper-bootom {
    padding-bottom: 15px;
  }

  .action__slider {
    width: 220px;
  }

  .action__slider-inner {
    width: 220px;
    margin: 0 auto;
  }

  .action__slider-block img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .action__slider-block.slick-slide {
    width: 240px;
  }

  .action .slick-arrow.slick-prev {
    left: -35px;
  }

  .action .slick-arrow.slick-next {
    right: -35px;
  }

  .action .slick-dots {
    bottom: -25px;
  }

  .action .slick-dots li:nth-child(4) button {
    margin-right: 0;
  }

  .action .slick-dots button {
    width: 10.5px;
    height: 10.5px;
    margin-right: 10.5px;
  }

  .action__slider-block button {
    bottom: 10px;
    left: 18px;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 8px;
  }

  .activeHeader {
    -webkit-box-shadow: 2px 2px 20px 2px #acd35f;
            box-shadow: 2px 2px 20px 2px #acd35f;
    width: 29px;
    height: 29px;
    border-radius: 50%;
  }

  .advantages__wrapper {
    padding: 20px;
  }

  .advantages__bottom {
    margin-top: 25px;
  }

  .advantages__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
  }

  .advantages__box::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .advantages__box-text {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .advantages__box-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }

  .advantages__box-img object {
    width: 90px;
    height: 90px;
  }

  .doctors {
    padding: 20px 0px;
  }

  .doctors__bottom {
    display: block;
    margin: 20px 0px;
  }

  .doctors__box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
    height: auto;
  }

  .doctors__box-img img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 240px;
    height: 240px;
  }

  .doctors__box-name {
    padding: 0px 8px;
    font-size: 20px;
    line-height: 20px;
  }

  .doctors__box-profession {
    font-size: 16px;
    line-height: 18px;
  }

  .doctors__box-text {
    position: inherit;
    font-size: 13px;
    line-height: 5px;
  }

  .form__page {
    padding: 50px 0px;
    height: auto;
  }

  .form__page .title {
    padding-top: 20px;
  }

  .form__box-inner {
    width: auto;
    padding: 0px 5px;
    padding-bottom: 10px;
    height: auto;
  }

  .form__box-forms {
    text-align: center;
    margin: 0 auto;
  }

  .form__box-forms input {
    width: auto;
    padding: 8px 0 8px 11px;
    font-size: 16px;
    line-height: 23px;
  }

  .form__box-forms textarea {
    width: auto;
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    line-height: 23px;
    height: 90px;
  }

  .form__box-name {
    font-size: 14px;
    line-height: 5px;
    margin-top: 22px;
  }

  .form__box-button {
    margin: 15px 0px;
  }

  .form__box-button button {
    padding: 13px 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }

  .video {
    margin: 20px 0;
  }

  .video__bottom {
    margin-top: 15px;
  }

  .video__bottom iframe {
    width: 250px;
    height: auto;
  }

  footer .footer__wrapper {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  footer .footer__inner-list {
    margin-right: 0px;
  }

  footer .footer__inner-list img {
    height: 60px;
    margin-bottom: 10px;
  }

  footer .footer__inner-list a {
    margin-left: 14px;
    font-size: 14px;
    line-height: 33px;
  }

  footer .footer__inner-contacts {
    margin: 0;
    width: 160px;
    -webkit-transform: translateY(70px);
        -ms-transform: translateY(70px);
            transform: translateY(70px);
  }

  footer .footer__inner-maps {
    margin-top: 90px;
    margin-bottom: 20px;
  }

  footer .footer__inner-maps iframe {
    width: 100%;
    height: 200px;
  }

  footer .contacts__box {
    font-size: 14px;
  }

  footer .contacts__box:last-child {
    margin-top: 0px;
  }

  footer .contacts__box a {
    font-size: 14px;
  }
}

.webp .menu__list-two::after{ background-image: url("../images/Header/Select.webp"); }

.webp .menu__launge::before{ background-image: url("../images/Header/Select.webp"); }

.webp .advantages{ background-image: url("../images/Advantages/1.webp"); }

.webp .form__page{ background-image: url("../images/Form/Form.webp"); }
#journey{ 
fill:#87AD3B;
}
#journey:hover{ 
fill:white;
}
path{
fill:inherit;
stroke:inherit;
}
